<div class="bootstrap-wrapper center">
    <div class="container">
        <div class="mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="card-header">
                    <h1 class="text-center">Inicio de sesión</h1>
                </div>
                <mat-card>
                    <div class="container text-center" style="margin-top : 30px;">
                        <img class="hidden-mobile" src="../../../assets/atn-logo.png">
                    </div>
                    <div class="container text-center" style="margin-top : 30px;">
                        <img class="show-mobile" src="../../../assets/atn-logo-min.png">
                    </div>

                    <form (ngSubmit)="formSubmit(loginForm)" #loginForm="ngForm">
                        <mat-form-field class="full-width" appearance="outline" style="margin-top : 30px;">
                            <mat-label>Nombre de usuario</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" required matInput
                                placeholder="Digite su nombre de usuario">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginData.password"
                                name="password" required type="password" matInput placeholder="Digite su contraseña">
                            <i mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" onmouseover=""
                                style="cursor: pointer; position: relative;" matRipple
                                [matRippleCentered]="centered">
                                <mat-icon>{{hide ? 'visibility':'visibility_off'}}</mat-icon>
                            </i>
                        </mat-form-field>

                        <br><br>

                        <div class="container text-center" style="margin-bottom: 30px;">
                            <button type="submit" mat-raised-button color="primary">Iniciar sesión</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>