<mat-toolbar class="navbar-color-dark">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
        <img src="../../../assets/atn-logo-small.png" width="100%">
    </a>
    <span class = "text-light hidden-mobile" style="margin-left: 10px;">Aceros y trefilados del noroeste</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" class="mr10 ml10 btn btn-light">
        Iniciar sesión
    </a>
    <a [routerLink]="'/signup'" class="mr10 ml10 btn btn-success">
        Registrar
    </a>

</mat-toolbar>