.example-spacer {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@media (max-width: 831px) {
    .hidden-mobile {
        display: none;
    }
}

@media (max-width: 401px) {
    .hidden-name-mobile {
        display: none;
    }
}

.navbar {
    position: fixed;
    z-index: 1;
    /*Add this*/
    width: 100%;
    /*height:60px;*/
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    top: 0px;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}