<div class="bootstrap-wrapper center-top" style="margin-top: 100px;">
  <div class="container">
    <div class="container text-center" style="margin-top : 30px;">
      <img class="hidden-mobile" src="../../../assets/atn-logo.png">
    </div>
    <div class="container text-center" style="margin-top : 30px;">
      <img class="show-mobile" src="../../../assets/atn-logo-min.png">
    </div>
  </div>

  <div class="container">

    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center" style="margin-top: 50px;">

        <div class="card-header">
          <h1 class="text-center">Bienvenido</h1>
        </div>
        <mat-card>
          
          <div class="container">
            <div class="row mt20">
              <div class="col-md-6 offset-md-3 text-center">
                <h2>Este es el sistema ATN</h2>
                <h3>Realiazdo por:</h3>
                <ul class="list-group">
                  <li class="list-group-item">Luis Manuel Bravo Cázares</li>
                  <li class="list-group-item">Felizardo Medina Gonazles</li>
                  <li class="list-group-item">Amor Alejandra Meza Leon</li>
                </ul>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>